configs/local.yml

# Ігноруємо весь вміст data
data/**

# Дозволяємо проходити до потрібних каталогів
!data/
!data/cache/

# Дозволяємо OUI-базу
!data/cache/oui.csv

# Дозволяємо приклади CSV
!data/**/*.example.csv

__pycache__/
*.pyc

