configs/local.yml

# Ігноруємо весь вміст data
data/**

# Дозволяємо проходити до потрібних каталогів
!data/
!data/cache/

# Дозволяємо OUI-базу
!data/cache/oui.csv

# Дозволяємо приклади CSV
!data/**/*.example.csv

# ZIP-архіви з DHCP-логами не зберігаємо в репозиторії
data/raw/dhcp/**/*.zip
data/raw/dhcp/*.zip
data/raw/dhcp/**/*.ZIP
data/raw/dhcp/*.ZIP

__pycache__/
*.pyc

