rules:
- mode: prefix
  patterns:
    - "air-"
    - "googletv"
    - "miwifi"
    - "smart"
    - "tv-"

- mode: contains
  patterns:
    - "canon"
    - "ecoflow"
    - "epson"
    - "huawei"
    - "galaxy"
    - "ipad"
    - "iphone"
    - "lg_smart"
    - "lgwebostv"
    - "pixe"
    - "poco"
    - "realme"
    - "redmi"
    - "samsung"
    - "steamdeck"
    - "unknown"

- mode: regex
  patterns:
    - "^[gisy][0-9]{9}$"
    - '^[AMS]\d{2}-'
    - '-[AMS]\d{2}$'

- mode: vendor
  patterns:
    - "Ajax Systems DMCC"
    - "Apple, Inc."
    - "Cisco Systems, Inc"
    - "CLOUD NETWORK TECHNOLOGY SINGAPORE PTE. LTD."
    - "HUAWEI TECHNOLOGIES CO.,LTD"
    - "MERCURY COMMUNICATION TECHNOLOGIES CO.,LTD."
    - "MERCUSYS TECHNOLOGIES CO., LTD."
    - "Motorola Mobility LLC, a Lenovo Company"
    - "Netis Technology Co., Ltd."
    - "OnePlus Technology (Shenzhen) Co., Ltd"
    - "Routerboard.com"
    - "Samsung Electronics Co.,Ltd"
    - "Shenzhen Water World Information Co.,Ltd."
    - "SHENZHEN YUNJI INTELLIGENT TECHNOLOGY CO.,LTD"
    - "Tenda Technology Co.,Ltd.Dongguan branch"
    - "TP-LINK TECHNOLOGIES CO.,LTD."
    - "Ubiquiti Inc"
    - "vivo Mobile Communication Co., Ltd."
    - "Xiaomi Communications Co Ltd"
    - "Zhejiang Dahua Technology Co., Ltd."
    - "zte corporation"


- mode: vendor
  patterns:
    - "TP-Link Systems Inc"
  require:
    # name_contains: ["Archer", "TL-", "TLWR"]
    # vendor_class_contains: ["router", "ap", "openwrt", "tp-link"]
    # vendor_class_regex: ["^(tp|router|ap|openwrt)"]
    oui_prefixes: []
  except:
    name_regex: ["^(WS-|DESKTOP|LAPTOP|PC|WIN-|DESKTOP-)", "(?i)MacBook|iPhone|Android"]
    # name_contains: ["DESKTOP", "LAPTOP"]
    # oui_prefixes: ["3C:64:CF"]
